<section id="contacto">
  <div class="light-wrapper">
    <div class="container inner pb-60">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-title text-center">Contacta con Aranet</h2>
          <p class="lead text-center">Contacta con nosotros si necesitas más información sobre nuestros servicios.</p>
          <ul class="contact-info list-inline text-center">
            <li><i class="budicon-pin"></i>
              <p>C/ de Felip II, 42, 08917 Badalona, Barcelona</p>
            </li>
            <li><i class="budicon-profile"></i>
              <p><a href="mailto:arapuntnet@gmail.com" class="nocolor">arapuntnet@gmail.com</a></p>
            </li>
            <li><i class="budicon-telephone"></i>
              <p><a href="tel:933976045" class="nocolor">933 97 60 45</a></p>
            </li>
          </ul>
          <div class="space30"></div>
          <div class="form-container">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= render 'contact_form' %>
          </div>
          <!--/.form-container --> 
          
        </div>
        <!--/column --> 
        
      </div>
      <!--/.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper --> 
  <iframe style="border:0;width:100%;height:450px;display:block;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.3582571773272!2d2.2333771510855804!3d41.45314447915635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bb70e68245e3%3A0x3a8b96e601ff9d3b!2sCarrer+de+Felip+II%2C+42%2C+08917+Badalona%2C+Barcelona!5e0!3m2!1sen!2ses!4v1532882944221" frameborder="0" allowfullscreen></iframe>
</section>
<!-- /#contact -->
