<section id="contacto">
  <div class="light-wrapper">
    <div class="container inner pb-60">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-title text-center">Contacta con Aranet</h2>
          <p class="lead text-center">Contacta con nosotros si necesitas más información sobre nuestros servicios.</p>
          <ul class="contact-info list-inline text-center">
            <li><i class="budicon-pin"></i>
              <p>C/ de Felip II, 42, 08917 Badalona, Barcelona</p>
            </li>
            <li><i class="budicon-profile"></i>
              <p><a href="mailto:arapuntnet@gmail.com" class="nocolor">arapuntnet@gmail.com</a></p>
            </li>
            <li><i class="budicon-telephone"></i>
              <p><a href="tel:933976045" class="nocolor">933 97 60 45</a></p>
            </li>
          </ul>
          <div class="space30"></div>
          <div class="form-container">
            <form action="contact/vanilla-form.php" method="post" class="vanilla vanilla-form" novalidate>
              <div class="row">
                <div class="col-sm-6 pr-10">
                  <div class="form-field">
                    <label>Nombre*
                      <input type="text" name="name" required="required">
                    </label>
                  </div>
                  <!--/.form-field --> 
                </div>
                <!--/column -->
                <div class="col-sm-6 pl-10">
                  <div class="form-field">
                    <label>Correo electrónico*
                      <input type="email" name="email" required="required">
                    </label>
                  </div>
                  <!--/.form-field --> 
                </div>
                <!--/column -->
                <div class="col-sm-6 pr-10">
                  <div class="form-field">
                    <label>Asunto
                      <input type="text" name="subject">
                    </label>
                  </div>
                  <!--/.form-field --> 
                </div>
                <!--/column -->
                <div class="col-sm-6 pl-10">
                  <div class="form-field">
                    <label>Teléfono
                      <input type="tel" name="tel">
                    </label>
                  </div>
                  <!--/.form-field --> 
                </div>
                <!--/column -->
                
                <div class="col-sm-12">
                  <div class="form-field">
                    <label>Mensaje
                      <textarea name="message" required></textarea>
                    </label>
                    <div class="text-center">
                      <input type="submit" class="btn" value="Enviar" data-error="Revisa los errores" data-processing="Enviando..." data-success="Gracias! Te contactaremos en breve.">
                    </div>
                    <footer class="notification-box"></footer>
                  </div>
                  <!--/.form-field --> 
                </div>
                <!--/column --> 
                
              </div>
              <!--/.row -->
              
            </form>
            <!--/.vanilla-form --> 
          </div>
          <!--/.form-container --> 
          
        </div>
        <!--/column --> 
        
      </div>
      <!--/.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper --> 
  <div class="google-map h450" data-lat="41.4530737" data-lng="2.2355309"></div>
</section>
<!-- /#contact -->
