<footer class="inverse-wrapper">
  <div class="sub-footer">
    <div class="container inner">
      <div class="cell text-left">
        <p>
          <img src="#" srcset="style/images/logo.png 1x, style/images/logo@2x.png 2x" alt="" />
          <span class="m-l">Aranet Badalona Servicios de Limpieza y Mantenimiento en Barcelona, Badalona, Santa Coloma de Gramanet, Sant Adrià del Besòs, Tiana, Montgat</span>
        </p>
      </div>
      <!-- /.cell -->
      <div class="cell text-right">
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.cell --> 
    </div>
    <!-- /.sub-footer --> 
  </div>
  <!-- /.container --> 
</footer>
