<footer class="inverse-wrapper">
  <div class="sub-footer">
    <div class="container inner">
      <div class="cell text-left">
        <p>© 2017 Malefic. All rights reserved. Theme by elemis.</p>
      </div>
      <!-- /.cell -->
      <div class="cell text-right">
        <ul class="social">
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.cell --> 
    </div>
    <!-- /.sub-footer --> 
  </div>
  <!-- /.container --> 
</footer>
