<nav class="navbar">
  <div class="container">
    <div class="navbar-inner">
      <div class="navbar-header">
        <div class="navbar-brand"><a href="index.html"><img src="#" srcset="style/images/logo.png 1x, style/images/logo@2x.png 2x" alt="" /></a></div>
        <div class="nav-bars-wrapper">
          <div class="nav-bars-inner">
            <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
          </div>
          <!-- /.nav-bars-inner --> 
        </div>
        <!-- /.nav-bars-wrapper --> 
      </div>
      <!-- /.nav-header -->

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#home">Inicio</a> </li>
          <li><a href="#servicios-de-limpieza">Servicios</a> </li>
          <li><a href="#portfolio">Nuestros trabajos</a> </li>
          <li><a href="#contacto">Contactar</a> </li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
    <!--/.navbar-inner --> 
  </div>
  <!--/.container --> 
</nav>
<!--/.navbar -->
