<section id="home">
  <div class="light-wrapper">
    <div class="rev_slider_wrapper fullscreen-container">
      <div id="slider" class="rev_slider fullscreenbanner" data-version="5.4.1">
        <ul>
          <li data-transition="slidevertical" data-fstransition="fade"> <img src="<%=asset_path("empresa-limpieza-barcelona.jpg")%>" alt="Empresa Limpieza Barcelona" title="Empresa Limpieza Barcelona" data-bgposition="center center" data-kenburns="off" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina /> </li>
          <li data-transition="parallaxtoright"> <img src="<%=asset_path("limpieza-oficinas.jpg")%>" alt="Limpieza de oficinas" title="Limpieza de oficinas" data-bgposition="center center" data-kenburns="off" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina /> </li>
          <li data-transition="slidevertical"> <img src="<%=asset_path("limpieza-comunidad.jpg")%>" alt="Limpieza de comunidad" title="Limpieza de comunidad" data-bgposition="center center" data-kenburns="off" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina /> </li>
        </ul>
        <div class="tp-static-layers">
          <div class="tp-caption tp-static-layer light text-center" 
            data-x="center"
            data-y="middle" 
            data-voffset="['-40','-40','-40','-30']"
            data-fontsize="['55','55','45','30']"
            data-lineheight="['65','65','55','45']"
            data-width="['1100','980','700','450']"
            data-textAlign="['center','center','center','center']"
            data-whitespace="['normal','normal','normal','normal']"
            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.3;sY:1.3;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
            data-startslide="0" 
            data-endslide="3"
            data-responsive="on" 
            data-responsive_offset="on">Bienvenidos a Aranet</div>
          <div class="tp-caption tp-static-layer light text-center" 
            data-x="center" 
            data-y="middle" 
            data-voffset="['40','40','40','30']"
            data-fontsize="['55','55','45','30']"
            data-lineheight="['65','65','55','45']"
            data-width="['1100','980','700','450']"
            data-textAlign="['center','center','center','center']"
            data-whitespace="['normal','normal','normal','normal']"
            data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.3;sY:1.3;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
            data-startslide="0" 
            data-endslide="3"
            data-responsive="on" 
            data-responsive_offset="on">Servicios de limpieza y mantenimiento</div>
        </div>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
    </div>
    <!-- /.rev_slider --> 
  </div>
  <!-- /.light-wrapper --> 
</section>
<!-- /#home -->
