<section id="servicios-de-limpieza" class="services">
  <div class="light-wrapper">
    <div class="container inner">
      <h2 class="section-title text-center">Servicios que ofrecemos</h2>
      <div class="space80"></div>
      <div class="row gutter60 text-center">
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-attachment"></i></span>
          <h1 style="font-size:16px;" class="upper">Limpieza de oficinas</h1>
          <p>Limpieza de oficinas en Barcelona en horarios a convenir.</p>
        </div>
        <!--/column -->
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-magic-wand"></i></span>
          <h1 style="font-size:16px;" class="upper">Abrillantamientos</h1>
          <p>Utilizamos los mejores productos para abrillantamiento y cristalizado de suelos.</p>
        </div>
        <!--/column -->
        <div class="space20 visible-sm clearfix"></div>
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-home"></i></span>
          <h1 style="font-size:16px;" class="upper">Fin de Obra</h1>
          <p>Realizamos servicios de limpieza de fin de obra en viviendas y todo tipo de instalaciones.</p>
        </div>
        <!--/column -->
        <div class="space20 hidden-xs hidden-sm clearfix"></div>
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-brush"></i></span>
          <h1 style="font-size:16px;" class="upper">Manteminientos</h1>
          <p>Nos encargamos tanto limpiezas puntuales como mantenimientos.</p>
        </div>
        <!--/column -->
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-authors"></i></span>
          <h1 style="font-size:16px;" class="upper">Limpieza de comunidades</h1>
          <p>Todo tipo de limpiezas en comunidades de vecinos, desde pavimentos hasta recepción y mobiliarios.</p>
        </div>
        <!--/column -->
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-car"></i></span>
          <h1 style="font-size:16px;" class="upper">Limpieza de Parkings y Garajes</h1>
          <p>Realizamos limpiezas a fondo de plazas de parking y garajes.</p>
        </div>
      </div>
      <!--/.row --> 
    </div>
    <!-- /.container --> 
  </div>
  <div class="parallax inverse-wrapper parallax1">
    <div class="container inner">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="section-title text-center">Somos expertos en limpiezas de suelos</h2>
          <p class="lead text-center"><a href="#contacto">Pídenos presupuesto sin compromiso aqui</a></p>
          <div class="space30"></div>
            <div class="row numbered">
              <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 circle-progress-wrapper">
                <div class="circle-progress">
                  <div class="circle" data-value="100"><a href="#contacto"><i class="budicon-telephone"></i></a> </div>
                  <h4 class="upper"><a href="#contacto">Contáctanos</a></h4>
                </div>
              </div>
              <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 circle-progress-wrapper">
                <div class="circle-progress">
                  <div class="circle" data-value="100"> <a href="#contacto"><i class="budicon-note-5"></i></a></div>
                  <h4 class="upper"><a href="#contacto">Hacemos presupuesto a medida</a></h4>
                </div>
              </div>
              <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 circle-progress-wrapper">
                <div class="circle-progress">
                  <div class="circle" data-value="100"> <a href="#contacto"><i class="budicon-clock-3"></i></a></div>
                  <h4 class="upper"><a href="#contacto">Amplios horarios</a></h4>
                </div>
              </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /column --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.parallax -->
</section>
