<section id="servicios-de-limpieza">
  <div class="light-wrapper">
    <div class="container inner">
      <h2 class="section-title text-center">Servicios que ofrecemos</h2>
      <div class="space80"></div>
      <div class="row gutter60 text-center">
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-check-2"></i></span>
          <h1 style="font-size:16px;" class="upper">Limpieza de oficinas</h1>
          <p>Limpieza de oficinas en Barcelona en horarios a convenir.</p>
        </div>
        <!--/column -->
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-check-2"></i></span>
          <h1 style="font-size:16px;" class="upper">Abrillantamientos</h1>
          <p>Utilizamos los mejores productos para abrillantamiento y cristalizado de suelos.</p>
        </div>
        <!--/column -->
        <div class="space20 visible-sm clearfix"></div>
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-check-2"></i></span>
          <h1 style="font-size:16px;" class="upper">Fin de Obra</h1>
          <p>Realizamos servicios de limpieza de fin de obra en viviendas y todo tipo de instalaciones.</p>
        </div>
        <!--/column -->
        <div class="space20 hidden-xs hidden-sm clearfix"></div>
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-check-2"></i></span>
          <h1 style="font-size:16px;" class="upper">Manteminientos</h1>
          <p>Nos encargamos tanto limpiezas puntuales como mantenimientos.</p>
        </div>
        <!--/column -->
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-check-2"></i></span>
          <h1 style="font-size:16px;" class="upper">Limpieza de comunidades</h1>
          <p>Todo tipo de limpiezas en comunidades de vecinos, desde pavimentos hasta recepción y mobiliarios.</p>
        </div>
        <!--/column -->
        <div class="col-sm-6 col-md-4"> <span class="icon mb-20"><i class="fa budicon-check-2"></i></span>
          <h1 style="font-size:16px;" class="upper">Limpieza de Parkings y Garajes</h1>
          <p>Realizamos limpiezas a fondo de plazas de parking y garajes.</p>
        </div>
      </div>
      <!--/.row --> 
    </div>
    <!-- /.container --> 
  </div>
  <div class="parallax inverse-wrapper parallax1">
    <div class="container inner">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="section-title text-center">Somos expertos en limpiezas de suelos</h2>
          <p class="lead text-center"><a href="#contactar">Pídenos presupuesto sin compromiso aqui</a></p>
        </div>
        <!-- /column --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.parallax -->
</section>
