.rev_slider .slotholder:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.40);
}

.navbar, .navbar.fixed {
  /*background: rgba(0, 0, 0, 0.65);*/
  background: $blue_rgba;
}

.navbar .navbar-collapse.collapse.in {
  background: $blue_rgba;
}

a {
  color: $blue;
}
.post-title a:hover,
.more:hover,
.meta a:hover {
    color: $blue;
}
a.line:hover {
    border-bottom: 1px solid $blue;
}
a:hover,
a:focus {
    color: $blue;
    text-decoration: none;
}
.inverse-wrapper a:hover {
    color: $blue;
}
.post-nav-wrapper a:hover {
    color: $blue;
}
#comments .info h5 a:hover {
    color: $blue;
}
.sidebox a:hover {
    color: $blue;
}
.widget .post-list li a:hover {
    color: $blue;
}
.parallax1 a, .parallax1 a:hover {
  color: white;
}

.lg-toolbar .lg-close {
  font-family: Arial;
}
.lg-toolbar .lg-close:after {
  content: "x";
}

.btn {
  background: $blue;
  border: 1px solid $blue;
}

.btn:hover {
  color: $blue;
  background: white;
  border: 1px solid $blue;
}

.icon {
  color: $blue;
}

.sub-footer {
  background: $blue;
  color: white;
}

.sub-footer img {
  vertical-align: bottom;
}

.contact-info i {
  color: inherit;
  margin-right: 8px;
}
